<div class="mailbox-detail-container">
  <div class="detail detail-hardware">
    <ion-icon name="hardware-chip"></ion-icon>
    <span class="detail-text">{{ mailboxStatus.device }}</span>
  </div>
  <div class="detail detail-location">
    <ion-icon name="location"></ion-icon>
    <span class="detail-text">{{ mailboxStatus.location }}</span>
  </div>
  <div class="detail detail-battery">
    <ng-container *ngIf="mailboxStatus.battery > 75">
      <ion-icon name="battery-full"></ion-icon>
    </ng-container>
    <ng-container *ngIf="mailboxStatus.battery > 25">
      <ion-icon name="battery-half"></ion-icon>
    </ng-container>
    <ng-container *ngIf="mailboxStatus.battery > 0">
      <ion-icon name="battery-dead"></ion-icon>
    </ng-container>
    <span class="detail-text">{{ mailboxStatus.battery }}%</span>
  </div>
</div>
