.selection-card {
    height: 30vw;
    width: 35vw;
    text-align: center;
}

.selection-card-icon {
    margin-top: 5vh;
}

ion-badge {
    position: absolute;
    z-index: 1;
    background-color: #1d4671;
}