<ion-header translucent>
  <ion-toolbar class="toolbar">
    <ion-title class="title">Mailbox</ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
    <ion-segment (ionSelect)="segmentChanged($event)" value="{{ selectedSegment }}">
      <ion-segment-button 
        class="segment-button"
        *ngFor="let segment of availableSegments"
        value="{{ segment }}"
        [ngClass]="selectedSegment == segment ? 'checked' : 'unchecked'">
        <ion-label>{{ segment }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="false">
    <ion-slide>
      <ion-card class="mailbox-card" *ngIf="selectedSegment === 'Mailbox'">
    
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-list lines="none" class="mailbox-list" *ngIf="selectedSegment === 'Archive'">
        <ng-container *ngIf="storageService.cachedCollections['1'].length > 0">
          <app-mail-entry 
            *ngFor="let m of storageService.cachedCollections['1']"
            [mail]="m"
            (click)="presentMailboxDetail(m)"></app-mail-entry>
        </ng-container>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
