@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

ion-header {
    .toolbar {
        --background: #1d4671;
        color: whitesmoke;
        font-family: 'Staatliches', cursive; 
    }

    .title {
        margin-top: 20px;
        letter-spacing: 2px;
    }

    .segment-button {
        color: whitesmoke;
        --indicator-color: whitesmoke;
    }

    .segment-button.unchecked {
        opacity: 0.5;
    }
}

ion-content {

    ion-slides {
        width: 100%;

        .mailbox-info {
            display: block;
        }

        .mailbox-image {
            margin-top: 8vh;
            margin-bottom: 5vh;
            height: 25vh;
        }

        .mailbox-list {
            width: 100%;
            height: 100%;
            margin-top: 5px;
        }
    
        app-mail-entry {
            display: flex;
            justify-content: center;
            margin-bottom: 3vw;
        }

        .section-button {
            margin-top: 4rem;

            .stop-button {
                padding: 0 4vw 0 4vw;
            }
        }
    }

}
