<ion-header [translucent]="true">
  <app-header-toolbar title="LongobardicAPP"></app-header-toolbar>
</ion-header>

<ion-content>
  <ion-row class="selection-cards-row">
    <app-selection-card 
      class="card" 
      [icon]="'mail-unread-outline'" 
      [title]="'Mailbox'" 
      [linkedPage]="'/mailbox'" 
      [badge]="true"
      [(value)]="newMails"></app-selection-card>
    <app-selection-card 
      class="card" 
      [title]="'Zorro'" 
      [linkedPage]="'/zorro'"></app-selection-card>
  </ion-row>
</ion-content>
